<p id="notice"><%= notice %></p>

<p>
  <strong>Journal:</strong>
  <%= @journal.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>Time created: </strong>
  <%= @entry.created_at.strftime '%a %-d %b %Y %l:%M%P %Z' %> (<%= time_ago_in_words @entry.created_at %> ago)
</p>

<!-- show the edit time if the entry was edited -->
<% if @entry.updated_at != @entry.created_at %>
	<p>
		<strong>Last edited: </strong>
		<%= @entry.updated_at.strftime '%a %-d %b %Y %l:%M%P %Z' %> (<%= time_ago_in_words @entry.updated_at %> ago)
	</p>
<% end %>

<p>
  <strong>Body:</strong>
  <%= simple_format @entry.body %>
</p>

<%= link_to 'Edit', edit_journal_entry_path(@journal, @entry) %> |
<%= link_to 'Delete', journal_entry_path(@journal, @entry), method: :delete, data: { confirm: 'This entry will be deleted.' } %> |
<%= link_to 'Back', journal_path(@journal) %>
