<p id="notice"><%= notice %></p>

<h1><%= @journal.name %></h1>

<%= link_to 'Edit name', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>

<br><br>

<%= link_to 'New Entry', new_journal_entry_path(@journal) %>

<br><br>

<form action="<%= journal_path %>" method="get" >
  <%= text_field_tag :search %>
  <%= submit_tag 'Search entries by title', :name => nil %>
</form> 

<div class="col-md-8">
	<!-- if there are search results, show them, otherwise show all the entries -->
	<% items = (@search_results or @journal.entries) %>

	<h3>
		<%= @search_results ? 'Search Results' : 'Entries' %> (<%= items.count %>)
	</h3>

	<ol class="entries">
		<!-- show them in descending order of creation -->
		<%= render items.reverse %>
	</ol>
</div>
